/* Adding Spotify FONTS TO THE SITE */

@font-face {
    font-family: 'Spotify Mix';
    src: url('fonts/SpotifyMix-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('fonts/SpotifyMix-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('fonts/SpotifyMix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('fonts/SpotifyMix-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('fonts/SpotifyMix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    /* background-color: hsl(0, 0%, 20%); */
    background-color: hsl(0, 0%, 13%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Spotify Mix';
    font-weight: 500;
    padding-top: 50px;
}

.root {
    background-color: hsl(0, 0%, 7%);
    padding-top: 50px;
    padding-bottom: 80px;
    width: 1220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

.input-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-space {
    height: 50px;
}

hr {
    width: 100%;
    border: 1px solid hsl(0, 0%, 20%);
    margin: 60px auto;
}

.image {
    width: 60px;
    margin: 5px;
    margin-bottom: 10px;
}

.text-title {
    font-weight: 600;
    font-size: 50px;
}

.signin {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid hsl(0, 0%, 50%);
    width: 550px;
    height: 80px;
    left: 20px;
    border-radius: 100px;
    margin: 5px;
}

.signin:hover {
    border: 1px solid hsl(0, 0%, 100%);
}

.continue-signin {
    padding: 0 20px;
    font-size: 26px;
    font-weight: 600;
    margin: 0 auto;
}

.link-space {
    width: 60px;
}

.icon {
    width: 35px;
    padding-left: 20px;
    margin-left: 30px;

}

.apple-i {
    width: 45px;
    padding: 0 15px;
}



/* INPUT FIELDS */

.input-details {
    width: 550px;
}

.label {
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
}

.input {
    border: 2px solid hsl(0, 0%, 50%);
    width: 530px;
    height: 80px;
    left: 20px;
    border-radius: 5px;
    margin: 8px;
    color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 8%);
    font-weight: 500;
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}


.input::placeholder {
    color: hsl(0, 0%, 70%);
    font-family: 'Spotify Mix';
    font-weight: 400;
}

.input:hover {
    border: 2px solid hsl(0, 0%, 100%);
}

/* BUTTON */

button {
    width: 550px;
    height: 80px;
    left: 20px;
    border-radius: 100px;
    margin: 5px;
    background-color: rgb(30, 215, 96);
    color: black;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Spotify Mix';
    margin: 20px 0;
}

button:hover {
    width: 570px;
    height: 86px;
    font-size: 27px;
    background-color: rgb(30, 238, 103);
    margin: 17px 0;

}

/* FORGOT PASSWORD AND SIGN UP LINK */
.text {
    font-size: 25px;
    font-weight: 400;
    color: hsl(0, 0%, 70%);
    margin: 30px 0;
}

.text a:hover {
    color: rgb(30, 238, 103);
}


/* FOOTER */

footer {
    height: 140px;
    background-color: hsl(0, 0%, 7%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.last-text {
    font-size: 19px;
    font-weight: 400;
    color: hsl(0, 0%, 70%);
}

.last-text a {
    color: hsl(0, 0%, 70%);
}

@media (max-width: 768px) {

    html {
        font-size: 10px;
    }

    body {
        background-color: hsl(0, 0%, 7%);
        padding: 0;
    }

    .root {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 0px;
    }



    .main {
        max-width: 90%;
    }

    .text-title {
        font-weight: 600;
        font-size: 3rem;
    }

    .title-space {
        height: 2.5rem;
    }

    .signin {
        width: 90%;
        height: 4.5em;
        border-radius: 3rem;
        margin: .5rem;
    }

    .continue-signin {
        padding: 0 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0 auto;
    }

    .link-space {
        width: 5%;
    }





    .image {
        width: 2.5rem;
        margin: .5rem;
        margin-bottom: .5rem;
    }

    .icon {
        width: 2.2rem;
        padding-left: .5rem;
        margin-left: 2rem;

    }

    .apple-i {
        width: 2.8rem;
        padding: 0 .3rem;
    }

    hr {
        margin: 3rem auto;
    }



    /* INPUT FIELDS */

    .input-details {
        width: 90%;
    }

    .label {
        font-size: 1.4rem;
    }

    .input {
        border: 1px solid hsl(0, 0%, 50%);
        width: 95%;
        height: 4.5rem;
        /* left: 20px; */
        font-size: 1.5rem;
        padding-left: 2rem;
        margin-bottom: 1.5rem;
    }

    .input:hover {
        border: 1px solid hsl(0, 0%, 100%);
    }

    /* BUTTON */

    button {
        width: 100%;
        height: 5rem;
        font-size: 1.5rem;
        margin: 1rem 0;
        border: none;
    }

    button:hover {
        width: 104%;
        height: 5.4rem;
        font-size: 1.7rem;
        background-color: rgb(30, 238, 103);
        margin: .8rem 0;

    }


    /* FORGOT PASSWORD AND SIGN UP LINK */
    .text {
        font-size: 1.5rem;
        font-weight: 400;
        color: hsl(0, 0%, 70%);
        margin: 1.5rem 0;
        text-align: center;
    }


    /* FOOTER */

    footer {
        height: 1.2rem;
        background-color: hsl(0, 0%, 7%);
        width: 100%;
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .last-text {
        font-size: 1rem;
        font-weight: 400;
        color: hsl(0, 0%, 70%);
        margin: 0 5rem;
        text-align: center;
    }

    .last-text a {
        color: hsl(0, 0%, 70%);
    }
}